*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    font-family: 'Montserrat';
    font-weight: 400;
}

svg{
    fill: #52efc0;
}

body{
    background: #d4f1f4;
    background: whitesmoke;
    //overflow-x: hidden;
    width: 100vw;
    //position: relative;
}

.super-alpha-wrapper{
    //overflow-wrap: normal;
    width: 100vw;
}

.alpha-wrapper{
    //overflow-x: hidden;
    height: 100%;
    width: 70rem;
    //padding: 3.5rem;
    //border: 2px solid green;
    background: #52efc0;
 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    header{
        //animation: slide-in-2 1s  0s 1 forwards;
        width: 100%;
        height: 18rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        //border-radius: 2px solid red;
        overflow: hidden;
        font-family: 'Times New Roman', Times, serif;
        gap: 4rem;
        //text-overflow: clip;
        //box-shadow: 0px 2px 21px 2px rgba(0, 0, 0, 0.309);
        #header-img{
            width: 15rem;
            height: 15rem;
            //margin-left: 2rem;
            border-radius: 5rem;
            animation: spin-out 1s  0s 1 forwards;
            box-shadow: 2px 0px 1px 1px rgba(255, 255, 255, 0.343);
            cursor: pointer;
            &:hover{
               box-shadow: 2px 0px 1px 1px black;
               width: 11rem;
               height: 11rem;
            }
        }/*
        h1{
            animation-delay: 0.3s;
        }
        h3{
            animation-delay: 0.5s;
        }
        p{
            animation-delay: 0.8s;
        }*/

        &::after{
            content: '';
            width: 100%;
            height: 17rem;
            transform: skewY(-10deg);
            background: rgba($color: rgb(0, 0, 0), $alpha: 1);
            background: #05445E;
            opacity: 1;
            position: absolute;
            top: -7rem;
            left: 0;
            height: 30rem;
            z-index: -1;
            animation: slide-in-2 1s  0s 1 forwards;
        }
    }
}

#name{
    &:hover{
        letter-spacing: 0.5rem;
    }
}

.anim-text{
    &:hover{
        letter-spacing: 0.05rem;
    }
    color: rgb(223, 223, 223);
    padding: 0.2rem;
    //z-index: 5;

    animation-name: slide-in;
    animation-iteration-count: 1;
    //animation-direction: forwards;
    animation-duration: 1s;;
    animation-delay: 0;
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}

@keyframes spin-out {
    from{
        width: 0.1rem;
        height: 0.1rem;
        transform: rotate(-360deg);
    }
    to{
        width: 10rem;
        height: 10rem;
        transform: rotate(0deg);
    }
}

@keyframes slide-in {
    /*0%{
        transform: translateX(-5rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0rem);
        opacity: 1;
        color: black;
    }
    
    0%{
        color: black;
        opacity: 1;
    }*/
    from{
        transform: translateX(-100rem);
        opacity: 0;
    }
    to{
        transform: translateX(0rem);
        opacity: 1;
    }
}

    @keyframes slide-in-2 {
        from{
            transform: translateX(100rem);
            opacity: 0;
            transform: skewY(0deg);
        }
        to{
            transform: translateX(0rem);
            opacity: 1;
            transform: skewY(-10deg);
        }
    }

.name-tag{
    position: relative;
    padding: 2rem;
    width: 60%;
    padding: 1rem;
    p{
        font-size: 1rem;
    }
}

.social-links{
    position: absolute;
    bottom: 2px;
    right: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    //extend .anim-text
    animation-name: slide-in;
    animation-iteration-count: 1;
    //animation-direction: forwards;
    animation-duration: 1s;
    color: rgb(0, 0, 0);
    animation-delay: 0;
    a{
        width: 1rem;
        height: 1rem;
        padding: 1rem;
        svg{
            width: 2rem;
            height: 2rem;
            &:hover{
                fill: #026874;
            }
        }
    }
}

.work{
    margin-top: 4rem;
    width: 100%;
    //height: 36rem;
    //border: 2px solid red;
    display: grid;
    place-content: center;
    position: relative;

    
    
    &::before{
        content: '';
        position: absolute;
        background: #52efc0;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        z-index: -2;
        transform: skewY(5deg);
    }

    & ::after{
        content: '';
        transform: skewY(10deg);
        //background: rgb(110, 12, 201);
        //background: blue;
        //background:#354a7a;
        background: #189ab4;
        position: absolute;

        width: 100%;
        height: 100rem;
        
        top: -7rem;
        left: 0;
        height: 30rem;
        z-index: -5;
    }
    h3{
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        color: whitesmoke;
    }
}

.work-grid{
    width: 100%;
    height: 100%;
    //border: 2px solid white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem;
    column-gap: 3rem;
    row-gap: 2rem;
}

.work-grid-divs{
    background: rgb(0, 0, 0);
    width: 15rem;
    height: 20rem;
    padding: 1rem;
    box-shadow: 2px 2px 2px 2px black;
}


@keyframes work-slide{
    from{
        //opacity: 0;
        transform: translateX(100rem);
    }
    to{
        //opacity: 1;
        transform: translateX(0rem);
    }
}

.screenshot-div{
    img{
        width: 100%;
        height: 100%;
        cursor: pointer;
        &:hover{
            width: 90%;
            height: 90%;
        }
    }
}

.project-name{
    color: white;
    font-family: 'Poppins';
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    //border: 1px solid white;
    padding: 0.5rem;
    h6{
        font-size: 1rem;
    }
    img{
        width: 1.8rem;
        height: 1.8rem;
        cursor: pointer;
        &:hover {
            width: 2rem;
            height: 2rem;
            padding: 0rem;
        }
    }
}

.short-description{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    //position: absolute;
    //bottom: 0;
    margin-top: 20rem;
    width: 100%;
    font-weight: 600;
    height: 25rem;
    background: #05445E;
    //border: 2px solid red;
    color: whitesmoke;
    font-family: 'montserrat',sans-serif;
    h3{
        font-size: 2rem;
    }
    p{
        font-size: 1.2rem;
    }

    display: flex;
    flex-direction: row;
    align-items: bottom;
    justify-content: space-between;
    padding: 1rem;

    div{
        height: 100%;
        width: 50%;
        //border: 2px solid red;
        padding: 1rem;
    }
    .img-container{
        display: grid;
        place-content: center;
        img{
            height: 17rem;
            width: 25rem;
        }
    }

    img{
        width: 4rem;
        height: 4rem;
    }
}

.text-container{
    p{
        font-size: 1rem;
    }
    svg{
        width: 3rem;
        height: 3rem;
        padding: 0.1rem;
        cursor: pointer;
        &:hover{
            width: 3.1rem;
            height: 3.1rem;
        }
    }
}

.bg-div{
    position: absolute;
    width: 100%;
    height: 10vh;
    background: #354a7a;
    opacity: 0;
}