* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  font-family: "Montserrat";
}

svg {
  fill: #52efc0;
}

body {
  background: #d4f1f4;
  width: 100vw;
}

.super-alpha-wrapper {
  width: 100vw;
}

.alpha-wrapper {
  height: 100%;
  width: 70rem;
  background: #52efc0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.alpha-wrapper header {
  width: 100%;
  height: 18rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 4rem;
  /*
  h1{
      animation-delay: 0.3s;
  }
  h3{
      animation-delay: 0.5s;
  }
  p{
      animation-delay: 0.8s;
  }*/
}
.alpha-wrapper header #header-img {
  width: 15rem;
  height: 15rem;
  border-radius: 5rem;
  animation: spin-out 1s 0s 1 forwards;
  box-shadow: 2px 0px 1px 1px rgba(255, 255, 255, 0.343);
  cursor: pointer;
}
.alpha-wrapper header #header-img:hover {
  box-shadow: 2px 0px 1px 1px black;
  width: 11rem;
  height: 11rem;
}
.alpha-wrapper header::after {
  content: "";
  width: 100%;
  height: 17rem;
  transform: skewY(-10deg);
  background: black;
  background: #05445E;
  opacity: 1;
  position: absolute;
  top: -7rem;
  left: 0;
  height: 30rem;
  z-index: -1;
  animation: slide-in-2 1s 0s 1 forwards;
}

#name:hover {
  letter-spacing: 0.5rem;
}

.anim-text {
  color: rgb(223, 223, 223);
  padding: 0.2rem;
  animation-name: slide-in;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 0;
  /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}
.anim-text:hover {
  letter-spacing: 0.05rem;
}

@keyframes spin-out {
  from {
    width: 0.1rem;
    height: 0.1rem;
    transform: rotate(-360deg);
  }
  to {
    width: 10rem;
    height: 10rem;
    transform: rotate(0deg);
  }
}
@keyframes slide-in {
  /*0%{
      transform: translateX(-5rem);
      opacity: 0;
  }
  100%{
      transform: translateX(0rem);
      opacity: 1;
      color: black;
  }

  0%{
      color: black;
      opacity: 1;
  }*/
  from {
    transform: translateX(-100rem);
    opacity: 0;
  }
  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@keyframes slide-in-2 {
  from {
    transform: translateX(100rem);
    opacity: 0;
    transform: skewY(0deg);
  }
  to {
    transform: translateX(0rem);
    opacity: 1;
    transform: skewY(-10deg);
  }
}
.name-tag {
  position: relative;
  padding: 2rem;
  width: 60%;
  padding: 1rem;
}
.name-tag p {
  font-size: 1rem;
}

.social-links {
  position: absolute;
  bottom: 2px;
  right: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  animation-name: slide-in;
  animation-iteration-count: 1;
  animation-duration: 1s;
  color: rgb(0, 0, 0);
  animation-delay: 0;
}
.social-links a {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
}
.social-links a svg {
  width: 2rem;
  height: 2rem;
}
.social-links a svg:hover {
  fill: #026874;
}

.work {
  margin-top: 4rem;
  width: 100%;
  display: grid;
  place-content: center;
  position: relative;
  padding-left: calc((100vw - 100%) / 2);
  padding-right: calc((100vw - 100%) / 2);
}
.work::before {
  content: "";
  position: absolute;
  background: #52efc0;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: -2;
  transform: skewY(5deg);
}
.work ::after {
  content: "";
  transform: skewY(10deg);
  background: #189ab4;
  position: absolute;
  width: 100%;
  height: 100rem;
  top: -7rem;
  left: 0;
  height: 30rem;
  z-index: -5;
}
.work h3 {
  text-align: center;
  font-size: 2rem;
  color: whitesmoke;
}

.work-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 2rem;
}

.work-grid-divs {
  background: rgb(0, 0, 0);
  width: 15rem;
  height: 20rem;
  padding: 1rem;
  box-shadow: 2px 2px 2px 2px black;
}

@keyframes work-slide {
  from {
    transform: translateX(100rem);
  }
  to {
    transform: translateX(0rem);
  }
}
.screenshot-div img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.screenshot-div img:hover {
  width: 105%;
  height: 105%;
}

.project-name {
  color: white;
  font-family: "Poppins";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.project-name h6 {
  font-size: 1rem;
}
.project-name img {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}
.project-name img:hover {
  width: 2rem;
  height: 2rem;
  padding: 0rem;
}

.short-description {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  margin-top: 20rem;
  width: 100%;
  height: 25rem;
  background: #05445E;
  color: whitesmoke;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: row;
  align-items: bottom;
  justify-content: space-between;
  padding: 1rem;
}
footer h3 {
  font-size: 2rem;
}
footer p {
  font-size: 1.2rem;
}
footer div {
  height: 100%;
  width: 50%;
  padding: 1rem;
}
footer .img-container {
  display: grid;
  place-content: center;
}
footer .img-container img {
  height: 17rem;
  width: 25rem;
}
footer img {
  width: 4rem;
  height: 4rem;
}

.text-container p {
  font-size: 1rem;
}
.text-container svg {
  width: 3rem;
  height: 3rem;
  padding: 0.1rem;
  cursor: pointer;
}
.text-container svg:hover {
  width: 3.1rem;
  height: 3.1rem;
}

.bg-div {
  position: absolute;
  width: 100%;
  height: 10vh;
  background: #354a7a;
  opacity: 0;
}/*# sourceMappingURL=index.css.map */